


@model LoginViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Exam</title>
</head>
<body>


    <div class="container">
        <h1 class="mt-5">Login</h1>


        <form action="/Admin/Home/Index" method="get" id="myForm">
            <div class="row">

                <div class="col-md-6">
                    <input type="text" class="form-control mb-5" placeholder="Enter Email" asp-for="@Model.Email">
                    <span class="text-danger" asp-validation-for="@Model.Email"></span>
                </div>
                <div class="col-md-6">
                    <input type="password" class="form-control mb-5" placeholder="Enter Password" asp-for="@Model.Password">
                    <span class="text-danger" asp-validation-for="@Model.Password"></span>
                </div>
                <div class="col-md-3  mb-5 ">
                    <input type="button" asp-for="@Model.StayConnected" class="btn btn-dark btn-user btn-block">
                    <span class="text-dark " asp-validation-for="@Model.StayConnected">Stay Connected</span>
                </div>

            </div>
        </form>
        <div>  <button type="submit" form="myForm" class="mb-5" value="Submit"> Submit</button> </div>
    </div>
       
        
    
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
